<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"  href="/css/style.css">
    <title>Feedpost</title>
</head>

<body>
<div class="container border border-secondary border-bottom-0 border-top-0">
    <h2 class="heading">Latest Posts</h2>
    <tr th:each="post: ${posts}">    <!--//  for iternating through each post in the list parameter sent"posts"-->
        <div class="row  justify-content-lg-center ">
            <div class="col-lg-9">
                <div class="card text-white bg-dark mb-3  cont  ">
                    <div class="card-header bg-transparent  border-light mb-3">
                        <td th:text="${post.name}"/>   <!-- // dipaying the value of name field of object-->
                    </div>
                    <div class="picture">
                        <img class=" img-fluid card-img-top" th:src="@{${post.image}}"> <!--// storing the image url in src-->
                    </div>
                    <hr class=" demarkate-line">
                    <div class="card-body cardbody">
                        <p class="card-text cardtext">
                        <td th:text="${post.content}"/>       <!-- // displaying the content of each post-->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </tr>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>