<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Feedpost</title>
</head>

<body>
<div class="container border border-secondary border-bottom-0 border-top-0">
    <form th:action="@{/feedposted}" th:object="${feedpost}" method="POST">  // storing the data obatiner in collector object "feedpost"
                                                                                and  directing the object at end point "feedposted"
        <h2 class = "heading">Add Post</h2>
        <hr >
        <div class="row justify-content-lg-center ">

            <div class=" col-lg-3">

                <div class="form-group ">  // storing the various input in object fields
                    <!-- <label for="exampleInputName">Name</label> -->
                    <input type="text" class="form-control" placeholder="Enter name" th:field="*{name}" required>
                </div>

            </div>

            <div class="col-lg-6">

                <div class="form-group ">
                    <!-- <label for="exampleInputImageurl">Imageurl</label> -->
                    <input type="text" class="form-control" placeholder="Imageurl" th:field="*{image}" required>
                </div>

            </div>

        </div>

        <div class="row  justify-content-lg-center">

            <div class="col-lg-9">
                <div class=" form-group ">
                    <!-- <label for="exampleInputImageurl">Imageurl</label> -->
                    <input type="text" class="h-100 form-control" placeholder="Content" th:field="*{content}" required>
                </div>
                <button type="submit" class="btn btn-primary">Add Post</button>
            </div>

        </div>
    </form>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>